@import "_dimens.scss";
@import "_colors.scss";
@import "button.scss";
@import "border.scss";
@import "font.scss";

body {
  font-family: "Roboto", sans-serif;
  box-shadow: rgb(34, 34, 34) 1.5px 1.5px 2.25px, rgb(34, 34, 34) 1.5px 1.5px 3px, rgb(34, 34, 34) 1.5px 1.5px 3.7px;
  overflow-y: hidden;
}

body,
ul,
li {
  list-style: unset;
  padding: 0;
  margin: 0;
}

.align-self-end {
  align-self: flex-end;
}

.block {
  display: block;
}

p {
  margin: 0;
  padding: 0;
}

video {
  outline: unset;
}

button {
  background: unset;
  border: unset;
  color: unset;

  &:focus {
    outline: 0;
  }
}

input[type="text"] {
  outline: unset;
}
.app {
  height: $client-height;
}

.cursor-default {
  cursor: default;
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: initial;
}

.horizontal-layout {
  display: flex;
  align-items: center;
}

.no-drag {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.youtube-mark::before {
  font-family: "Font Awesome 5 Pro", sans-serif;
  font-weight: 900;
  content: "\f167";
}

.position-relative {
  position: relative;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-items-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.d-block {
  display: block;
}

.user-select-none {
  user-select: none;
}

.d-none {
  display: none;
}

.font-14 {
  font-size: 14px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-danger {
  color: $danger-color;
}

.bg-danger {
  background-color: $danger-color;
}

.row-resize {
  cursor: row-resize;
}

.col-resize {
  cursor: col-resize;
}

.text-dark {
  color: #343a40 !important;
}

.outline-none {
  outline: none;
}

.float-right {
  float: right;
}
