@import "styles/_colors.scss";

.LanguageSwitch {
  text-transform: uppercase;
  background-color: $titlebar-bg-color;
  text-align: center;
  border: 2px solid white;
  border-radius: 5%;

  .current-language {
    margin: 0 auto;
    width: fit-content;
    color: white;
    font-weight: bold;
  }
}

.tab-button {
  height: 1.75rem;
  width: 5rem;
  margin-left: auto;
  line-height: 170%;
}

.login-tab {
  width: 4rem;
}