@import "styles/_colors.scss";

.user-info-box {
  margin-left: 1rem;
  margin-right: 1rem;
  height: 100%;

  .user-info-icon {
    background-image: url("https://downcap.net/client/svg/profile.svg");
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 50%;
    transition: background-color 0.4s ease-in-out;
    margin: 4px 0;
    svg {
      height: inherit;
    }
  }

  &:focus {
    outline: 0;

    .user-info-content {
      display: block;
    }
  }

  .user-info-content {
    display: none;
    position: absolute;
    width: 260px;
    right: 0;
    z-index: 1;
    min-width: 150px;
    border-radius: 5px;
    background-color: $user-info-content-background-color;
    margin-top: 0.1rem;
    margin-right: 0.1rem;

    .user-info {
      
      .user-name {
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 1rem;
      }

      .user-letter {
        font-weight: bold;
        padding-bottom: 5px;
        color: $user-letter-color;
        font-size: 1.3rem;
      }
    }
    .user-select {
      margin-bottom : 5px;
      div {
        padding: 3px 0px 3px 10px;
        .user-select-icon {
          width : 0.3rem;
          margin-right : 10px;
        }
      }
      div:hover {
        cursor: pointer;
        background-color: $user-select-hover-background-color;
        color: $user-select-hover-color;
      }

    }
  }
}
