@import "styles/_colors.scss";

.downcap-loadingButton-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: $color-gray80 solid 1px;
  border-radius: 5px;
  width: 9rem;
  height: 2.7rem;
  color: $color-black;
  margin: 0 auto 1rem auto;
  cursor: pointer;

  .downcap-loadingButton-icon {
    margin-right: 0.5rem;
    width: 1.8rem;
  }

  .downcap-loadingButton-label {
    cursor: pointer;
    font-weight: bold;
  }
}
